* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #e5eff5;
  font-family: "Karla", sans-serif;
  padding: 2rem 0.7rem;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: #fff;
  border-radius: 0.7rem;
  overflow: hidden;
  max-width: 36rem;
}

article .box {
  background: #fff;
  width: 100%;
  padding: 4rem 3rem 1rem 3rem;
}

article .box h2 {
  font-size: 2.1rem;
  color: #2ab2af;
}

article .box h3 {
  padding: 2rem 0;
  font-size: 1.6rem;
  color: #c0df34;
}

article .box p {
  font-size: 1.6rem;
  line-height: 1.7;
  padding-bottom: 2rem;
  color: #98a6bd;
}

article .box:nth-child(2) {
  padding: 3rem 3rem;
  background: #2ab2af;
}

article .box:nth-child(2) h2 {
  color: #fff;
}

article .box:nth-child(2) h3 {
  color: #e5eff5;
  font-weight: 400;
  padding: 1rem 0;
}

article .box:nth-child(2) h3 span {
  font-size: 4rem;
  margin-right: 1rem;
  font-weight: 700;
  color: #fff;
}

article .box:nth-child(2) p {
  padding: 1rem 0;
  line-height: 1;
  color: #fff;
  font-weight: 400;
}

article .box:nth-child(2) button {
  margin: 1rem 0 0 0;
  border: 0;
  background: #c0df34;
  width: 100%;
  height: 45px;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #e5eff5;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

article .box:nth-child(2) button:hover {
  opacity: 0.6;
}

article .box:nth-child(3) {
  padding: 2rem 3rem 3rem 3rem;
  background: rgba(42, 178, 175, 0.86);
}

article .box:nth-child(3) h2 {
  color: #fff;
  padding-bottom: 1rem;
}

article .box:nth-child(3) ul {
  list-style: none;
}

article .box:nth-child(3) ul li {
  font-size: 1.4rem;
  padding: 0.2rem 0;
  color: #e5eff5;
}

.attribution {
  padding: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 780px) {
  article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 65rem;
        grid-template-areas: "box1 box1" "box2 box3";
  }
  article .box {
    width: 100%;
    padding: 3rem 4rem;
  }
  article .box:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: box1;
    padding: 4rem 4rem 2rem 4rem;
  }
  article .box:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box2;
    padding: 3rem 4rem 4rem 4rem;
  }
  article .box:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: box3;
    padding: 3rem 4rem 4rem 4rem;
  }
}
/*# sourceMappingURL=style.css.map */